:root {
    /*colors*/
    --btn-3-bg: #1ed760;
    --btn-3-color: #000;
    /* forms paddings*/
    --f-padding: 10px;
}


body {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 10px solid red;
    color: red;
}

main {
    border: 1px solid orange;
    height: 100vh;

}

.logo {
    width: 300px;
}

input {

    padding: var(--f-padding);
    margin: 10px 0;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 2px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date] {
    width: 100%;

}

input:hover {
    border: 1px solid #000;
}

form div {
    margin-top: 1rem;
}

.form_btn {

    /* remove default behavior */
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;

    /* usual styles */
    padding: 10px;
    border: none;
    background-color: var(--btn-3-bg);
    color: var(--btn-3-color);
    font-weight: 600;
    border-radius: 5px;
    width: 7rem;
    border-radius: 20px;

}

.btn_center {
    border: 1px solid red;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form_btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #27ec6c;

}