:root {
    /*colors*/
    --btn-1-bg: #405a93;
    --btn-1-color: #fff;
    --btn-2-bg: #fff;
    --btn-2-color: #535353;
    --btn-3-bg: #1ed760;
    --btn-3-color: #000;

    /* forms paddings*/
    --f-padding: 10px;
    --fs-vsmall: 0.7rem;
    --fs-logo-title: clamp(1rem, 2.5vw, 1.5rem); 
    --fs-form: clamp(1rem, 2.5vw, 0.7rem); 
    /*icons/logos*/
    --logo-s: 13rem;
    /*fonts*/
    --ff-body: "Arial", Helvetica, sans-serif;
    font-family: var(--ff-body);

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 10px solid red;
}



body>header>* {
    /* border: 1px solid rgb(20, 136, 117); */
    height: 8rem;

}

.header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_sign_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 7rem;

}

button {
    cursor: pointer;
    /* Mouse pointer on hover */
}

.btn {
    width: 66%;
    padding: 8px;
    border-radius: 20px;
    /* remove default behavior */
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    /* usual styles */
    border: none;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.header_g_btn {
    background-color: var(--btn-2-bg);
    border: 2px solid grey;
}

.header_fb_btn {
    background-color: var(--btn-1-bg);
    color: var(--btn-1-color);
}

.fa-brands {
    margin-right: 0.5rem;
}
.header_top>h1{
    font-size: var(--fs-logo-title);
}
main {
    border: 1px solid orange;
    height: 50rem;
    width: 30rem;
}

.logo_container {
    border:1px solid red;
    /* width:100%; */

}

.logo {
    width: var(--logo-s);
    /* width:clamp(100px,20%,0.5rem) */
    height: 4rem;
    border: 1px solid red;
}

input {

    padding: var(--f-padding);
    margin: 10px 0;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 2px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date] {
    width: 100%;

}

input:hover {
    border: 1px solid #000;
}

form div {
    margin-top: 1rem;
}
.form_label{
    font-size:var(--fs-form);
}
.form_btn {

    /* remove default behavior */
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    /* usual styles */
    padding: 10px;
    border: none;
    background-color: var(--btn-3-bg);
    color: var(--btn-3-color);
    font-weight: 600;
    border-radius: 5px;
    width: 7rem;
    border-radius: 20px;
    margin-bottom: 10px;

}


.btn_center {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    /* width: 100%; */

}

/*  */

.form_btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #27ec6c;

}

.terms {
    font-size: var(--fs-vsmall);

}

.form_link {}

.test {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.account {
    font-size: var(--fs-vsmall);

}